.admin-posts {
  margin: 50px auto;
  grid-gap: 10px;
  padding: 10px;
  text-align: left;
}

.admin-posts h1 {
  font-size: 24px;
  padding: 20px 0px;
}

.makeStyles-root-25 {
  justify-content: end !important;
}

.MuiGridListTile-root {
  min-width: 400px !important;
}