.category {
  width: 80%;
  margin: 0 auto;
  direction: rtl;
  text-align: right;
}
#category_title {
  text-transform: uppercase;
  display: flex;
  justify-content: right;
  padding: 20px 0;
  font-size: 52px;
}
.category_wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "."
    "."
    ".";
}

.category_title h1 {
  text-transform: uppercase;
}

.category_card {
  width: 80%;
  height: 400px;
  font-family: 'Assistant', sans-serif;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

@media screen and (max-width: 1200px) {
  .category_card {
    width: 100%;
  }
  .__content {
    text-align: center;
    margin: 10px 0;
  }
  .__title {
    font-size: 26px;
    color: rgb(233, 120, 139);
  }
  .__content .__description {
    line-height: 26px ;
  }
}

#title_line {
  width: 80%;

}

.category_card img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;

}


