.latest-posts {
  width: 70%;
  margin: 25px auto;
}

.latest_header {
  text-align: right;
  font-size: 32px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.latest_header > hr {
  margin: 20px 0px;
}

.latest_posts_wrapper {
  display: flex;
  flex-direction: column;
}

.latest_posts_posts::-webkit-scrollbar
{
  width: 3px;
  background-color: #F5F5F5;
}

.latest_posts_posts::-webkit-scrollbar-thumb
{
  background-color: #000000;
  border: 1px solid #555555;
}


.latest_posts_posts {
  display: flex;
  flex-direction: row;
  justify-content: right;
  direction: rtl;
  overflow-x: scroll;
  padding: 50px 0;
}

@media screen and (max-width: 1000px) {
  .latest_posts_posts {
    justify-content: right;
  }
}

#instagram-output{
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  direction: rtl;
  padding: 75px 0;
}

@media screen and (max-width: 1000px) {
  #instagram-output {
    justify-content: right;
  }
}

#instagram-output::-webkit-scrollbar {
  opacity: 0;
}
#instagram-output a img {
  max-width: 300px;
  transition: .25s ease-in-out;
}

#instagram-output a img:hover {
  filter: grayscale(50%);
  transform: rotate(2deg);

}

.instagram_feed {
  margin: 100px 0;
}

.instagram_feed::-webkit-scrollbar {
  display: none;
}

.instagram_feed h1, span {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}

.instagram_feed span {
  opacity: 0.9;
}


.latest_posts_wrapper #card {
  text-align: right;
  margin: 0 10px;
  min-width: 350px;
  max-width: 300px;
  height: 440px;
  transition: 0.2s all;
}

#card:hover {
  min-width: 370px;
  max-width: 370px;

}

.card_content #typo{
  font-size: 28px;
}

#card:hover .card_content {
  transform: translateY(-50%);
  background: white;
}
#card #image {
  height: 300px;
}
#card #btn {
  position: relative;
}

#card #arrow {
  position: absolute;
  left: 20px;
  font-size: 40px;
  transition: 0.2s all;
}

#card:hover #arrow {
  font-size: 42px;
}

#card {
  transition: transform .2s; /* Animation */
}


.makeStyles-media-12 {
  height: 265px !important;
}