
.post {
  min-height: 100vh;
  direction: rtl;
  font-family: 'Assistant', sans-serif;
  padding: 50px 0px;
}
.post .post-header {
  display: flex;
  justify-content: center;
}

.post .post-header h1 {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  letter-spacing: 1.2em;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 62px;

}

.post .post-content p {
  font-size: 18px;
  width: 70%;
  margin: 0 auto;

}

.post .post-content img {
  width: 100%;
}


@media screen and (max-width: 1000px) {
  .post .post-header h1 {
    letter-spacing: none;
    font-size: 20px;
  }

  .post .post-content p {
    width: 100%;
  }
}
.post .post-image {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-image > img {
  width: 100%;
  height: 100%;
}

.post .post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}
.post .post-content h1 {
  margin: 0 auto;
  padding: 20px 0px;
  padding: 20px 0px;
  text-transform: uppercase;
}

.post .post-content h3 {
  margin: 0 auto;
  padding: 20px 0px;
  text-align: right;
}

.post .post-content p {
  font-size: 18px;
  /* line-height: 1.5em; */
  font-weight: lighter;
  text-align: right;
}

