.form-container {
  width: 80%;
  margin: 0 auto;
}
.form-container .post-form {
  width: 100%;
  text-align: right;
  margin: 0 auto;
}

.form-container > button {
  display: none;
}

.form-container .input {
  margin: 20px 0px;
}

.btns-group {
  display: Flex;
  padding-left: 10px;
  padding-bottom: 10px;
}

.btns-group .btn {
  margin-right: 20px;
}
